Localization
{
    ru
    {
        //PARTS
        #LOC_KerbalReusabilityExpansion_PART_DragonFuelTank = Топливный бак «Дракон»
        #LOC_KerbalReusabilityExpansion_PART_DragonHeatShield = Тепловой щит «Дракон»
        #LOC_KerbalReusabilityExpansion_PART_Trunk = Грузовой отсек «Дракон»
        #LOC_KerbalReusabilityExpansion_PART_TrunkFin = Стабилизаторы грузового отсека Дракон»
        #LOC_KerbalReusabilityExpansion_PART_SuperDracoEngine = Двигатель «СуперДрако»
        #LOC_KerbalReusabilityExpansion_PART_SuperDracoEngineRCS = Двигатель «СуперДрако» с РСУ
        #LOC_KerbalReusabilityExpansion_PART_VernierThrusterL = Усовершенствованный РСУ (большой)
        #LOC_KerbalReusabilityExpansion_PART_VernierThrusterM = Усовершенствованный РСУ (средний)
        #LOC_KerbalReusabilityExpansion_PART_GridFinL = Решётчатый руль (большой)
        #LOC_KerbalReusabilityExpansion_PART_GridFinM = Решётчатый руль (средний)
        #LOC_KerbalReusabilityExpansion_PART_GridFinS = Решётчатый руль (малый)
        #LOC_KerbalReusabilityExpansion_PART_NemesisGridFinL = Решётчатый руль T-222 «Немезида» (большой)
        #LOC_KerbalReusabilityExpansion_PART_NemesisGridFinM = Решётчатый руль T-222 «Немезида» (средний)
        #LOC_KerbalReusabilityExpansion_PART_NemesisGridFinS = Решётчатый руль T-222 «Немезида» (малый)
        #LOC_KerbalReusabilityExpansion_PART_LT37L = Посадочная опора LT-37L (большая)
        #LOC_KerbalReusabilityExpansion_PART_LT37M = Посадочная опора LT-37M (средняя)
        #LOC_KerbalReusabilityExpansion_PART_NewShepardLandingLegM = Посадочная опора «Новый Шепард» (средняя)
        #LOC_KerbalReusabilityExpansion_PART_NewShepardLandingLegS = Посадочная опора «Новый Шепард» (малая)
        #LOC_KerbalReusabilityExpansion_PART_ShepardLegM = Посадочная опора «Шепард» (средняя)
        #LOC_KerbalReusabilityExpansion_PART_ShepardLegS = Посадочная опора «Шепард» (малая)
        #LOC_KerbalReusabilityExpansion_PART_FalconLandingGearL = Посадочная опора «Сокол» (большая)
        #LOC_KerbalReusabilityExpansion_PART_FalconLandingGearM = Посадочная опора «Сокол» (средняя)
        #LOC_KerbalReusabilityExpansion_PART_FalconLandingGearS = Посадочная опора «Сокол» (малая)
        #LOC_KerbalReusabilityExpansion_PART_FalconLandingGearMk2L = Посадочная опора «Сокол» Mk2 (большая)
        #LOC_KerbalReusabilityExpansion_PART_FalconLandingGearMk2M = Посадочная опора «Сокол» Mk2 (средняя)

        //PART DESCRIPTIONS
        #LOC_KerbalReusabilityExpansion_DESC_DragonFuelTank = Небольшой термостойкий топливный бак.
        #LOC_KerbalReusabilityExpansion_DESC_DragonHeatShield = Средний конструкционный теплозащитный экран. Оснащён раскладными посадочными опорами для более изящного приземления. Обтекатель выполняет функцию разделителя ступеней.
        #LOC_KerbalReusabilityExpansion_DESC_Trunk = Дополнительное багажное пространство для ваших полётов. Идеально подходит для хранения хрупких приборов или небольших служебных компонентов, таких как баки RCS, батареи и прочее.
        #LOC_KerbalReusabilityExpansion_DESC_TrunkFin = Небольшое крыло, созданное для того, чтобы космический корабль выглядел круто. Позже выяснилось, что оно также помогает с аэродинамической устойчивостью в случае аварийного прерывания полёта.
        #LOC_KerbalReusabilityExpansion_DESC_SuperDracoEngine = Высокая тяга при паршивой эффективности. Идеально подходит для посадки капсул и обеспечения возможности аварийного прерывания полёта.
        #LOC_KerbalReusabilityExpansion_DESC_SuperDracoEngineRCS = Высокая тяга при паршивой эффективности. Идеально подходит для посадки капсул и обеспечения возможности аварийного прерывания полёта. Оснащён многонаправленными двигателями РСУ.
        #LOC_KerbalReusabilityExpansion_DESC_VernierThruster = Усовершенствованная версия двигателя «Гуверньер» с дополнительными направлениями тяги. Работает на жидком топливе и окислителе.
        #LOC_KerbalReusabilityExpansion_DESC_GridFin = Изначально разработанная как попытка приготовить вафли увеличенного размера, эта деталь на деле отлично справляется с торможением и управлением ступенями ракеты при спуске. Обратите внимание: маленькая стрелка должна указывать в сторону космоса.
        #LOC_KerbalReusabilityExpansion_DESC_NemesisGridFin = Усовершенствованная конструкция решётчатого руля для тех случаев, когда нужно показать атмосфере, кто здесь главный. Хотя эта деталь заметно тяжелее и дороже базовой модели, повышенная термостойкость быстро окупит разницу.
        #LOC_KerbalReusabilityExpansion_DESC_LT37 = Так это, значит, ваши посадочные опоры? Служат вам уже который год и ни разу не подводили? Думаете, старые опоры и так хороши? НЕВЕРНО! Встречайте абсолютно новую LT-37. Создана, чтобы заставить LT-2 бледнеть от зависти. Не стесняйтесь! Унижайте рельеф. Опустошайте окружающую среду. Вы это заслужили!
        #LOC_KerbalReusabilityExpansion_DESC_NewShepardLandingLeg = Лёгкие посадочные опоры для небольших ступеней. Гарантия аннулируется при использовании в несуборбитальных полётах. Это не учения.
        #LOC_KerbalReusabilityExpansion_DESC_ShepardLeg = Лёгкие посадочные опоры для небольших ступеней.
        #LOC_KerbalReusabilityExpansion_DESC_FalconLandingGear = Посадочные опоры для первых ступеней.
        #LOC_KerbalReusabilityExpansion_DESC_FalconLandingGearMk2 = Посадочные опоры Mk2 для первых ступеней.

        //MANUFACTURER
        #LOC_KerbalReusabilityExpansion_MANUFACTURER_7DExplorationTechnologiesInc = 7D Исследовательские Технологии
        #LOC_KerbalReusabilityExpansion_MANUFACTURER_7DWaffleIrons = 7D Вафельницы

        //GUI
        #LOC_KerbalReusabilityExpansion_GUI_ToggleFins = Переключить рули
        #LOC_KerbalReusabilityExpansion_GUI_ExtendFins = Раскрыть рули
        #LOC_KerbalReusabilityExpansion_GUI_RetractFins = Сложить рули
        #LOC_KerbalReusabilityExpansion_GUI_ToggleLandingGear = Переключить опоры
        #LOC_KerbalReusabilityExpansion_GUI_ExtendGear = Выдвинуть опоры
        #LOC_KerbalReusabilityExpansion_GUI_RetractGear = Убрать опоры
    }
}
